<div class="container" style="margin-top:90px;">
<h1 class="page-header">About Prof.ShitalKumar Rawandale</h1>
<div id="MainFrame2">
   	
  <div id="MainFrame2ContentAboutMe" class="Content" >
    <ul>
      <li>Working as Training &amp;  Placement Officer &amp; Dean, Industry Institute Interaction with Pimpri  Chinchwad college of Engineering ( PCCOE ), Nigdi, Pune.</li>
      <li>Placed around 16,500 students  till date.</li>
      <li>Recepient of “Career Guru”  award  in “Visionary Mind” category for ‘  insightful efforts and establishing best practices towards improving the  overall Employment Ecosystem in the country at “National Employability  Conclave” .</li>
      <li>Hon. Vice Chancellor of Pune  University felicited  “PCCOE Team  T&amp;P” for organizing activities of Placements &amp; JobFair for the  students.</li>
      <li>Conduct more than 25 to 30 Pool  Campus / Off Campus recruitment drives each year for the students across  Pune/Maharashtra/India.</li>
      <li>Organized  more than 300 Mega Pool Campus/ off campus recruitment drives in which at a  time 1000+ students across Pune / Maharashtra / India attended drives of reputed  companies like TCS, Infosys, Accenture, Wipro, Cognizant, Patni, KPIT Cummins,  IBM, Amdocs, Quinnox, Oracle, HP, ThoughtWorks, L&amp;T Infotech, Z S Associates  etc.. </li>
      <li>Successfully conducted PCCOE JobFair  on 26th &amp; 27th March 2011wherein around 43,000 students from different  parts of Maharashtra / India registered online, 22,000 appeared on 26th March  and 6,000 appeared on 27th March. 30 reputed companies like TCS, IBM, L&amp;T  InfoTech, SKF, Kinetic, TATA Motors, Cognizant, Mu sigma, KPIT Cummins, and  many more participated and recruited students of  BE/BTECH/MCA/MSC/MCS/BSC/BCS/Diploma.</li>
   
      <li>Born on 11th Nov 1974 and brought up  in hometown Dhule.</li>
    </ul>
    </p>
 </li>
 <li> Schooling:- 
  <ul><li>Jai Hind High School, Dhule (Middle school scholarship holder in std IV, Satara Sainik school exam passed in std V and High school scholarship holder in std VII, SSC-88%)</li></ul>

  <ul><li>Higher Secondary Education :  Jai Hind Junior College, Dhule, HSC 75%.</li></ul>
  </li>
  
 <li> Graduation:
 <ul><li> B.E. (Mechanical Engineering, SSVPS college of Engineering ,Dhule).</li> </ul>
 </li>
 
 <li> Post Graduation:
 <ul> <li>M.E. (Mechanical Engineering -Heat Power-Vishwakarma Institute of Technology (VIT),Pune).</li>
  </ul></li>
  
 <li> My Family:
 <ul> <li>Father: Late Adhar Ramrao Patil (Rawandale),Mohadi, Dhule 
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.A,M.Ed (Retired  Principal : SSVPS’s Nutan Padavi High School and Jr.College, Dhule) </ul>

 <ul> <li>Mother: Mrs. Sindhu Patil (Home Maker)</li></ul>

 <ul> <li>Elder Sister:  Prof. Mrs.Ratna Nitin Patil.
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.E.(Computer)-Asst .Prof.-VIT, Pune</li></ul>

 <ul> <li>Elder  Brother In Law: Wing Cmdr  Nitin Patil.
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.E. Production VJTI, Mumbai, PGTD –Hyderabad, MBA
		<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wing Commander, India Air Force
 </li></ul>
 
 <ul> <li>Younger Sister: Dr. Vaishali Pramod Shankhapal.
	<br />	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MBBS,DOMS(RMO, Bombay Municipal Corporation)
 </li></ul>
 
 <ul> <li>Younger  Brother In Law:
	Dr. Pramod Shankhapal
    <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MBBS,M.D.(Pharmacology-Nair Hospital  & College, Mumbai)
 </li></ul>

 <ul> <li>Wife:
	 Mrs. Ujjwala Shitalkumar Rawandale.
	<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.E. (E&TC) Asst . Prof MITCOE, PUNE.
 </ul>
 
 <ul> <li>Son:
	 Master  Shashank Shitalkumar Rawandale.
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Std VIIIth - Vibgyor High Balewadi, Pune
 </li>
   <li>Younger Son: Master Sangram Shitalkumar      Rawandale</li>
   </ul>
 
  <ul> <li>Brother : Dr. Nirmalkumar Adhar Rawandale
	<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MBBS, DNB (Medicine), MO- Civil Hospital, Dhule
 </li></ul>
 
  <ul> <li>Sister in Law : Dr. Pallavi Nirmalkumar Rawandale
	<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MBBS, Diploma (ENT), Diploma (Gynac)
 </li></ul>
 
  <ul> <li>Nephew : Master Rayarth Nirmalkumar Rawandale
 </li></ul>
   <ul> <li>Niece : Vedanshi Nirmalkumar Rawandale
 </li></ul>
</li>
<br /><br />
	</div>
  </div>
</div>
