<div class="container" style="margin-top:90px;">
<h1 class="page-header">Drives Conducted</h1>

 <table border="0" cellspacing="0" cellpadding="0" class="table">
                <tr>
                  <td width="63" align="center" height="25" valign="middle" class="campustable1"><strong>Sr.</strong></td>
                  <td width="1050" align="center" height="25" valign="middle" class="campustable2"><strong>Name Of Company</strong></td>
                  <td width="90" align="center" height="25" valign="middle" class="campustable3"><strong>Students Appeared</strong></td>
                  <td width="90" align="center" height="25" valign="middle" class="campustable4"><strong>Offers</strong></td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;1)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;TCS (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;4500</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;640</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;2)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;IBM (For students across India)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;3500</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;105</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;3)</td>
                  <td  valign="middle"  height="25" class="campustable2">&nbsp; &nbsp;Accenture  (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;2200</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;219</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;4)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;Cognizant (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;2000</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;392</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;5)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;Patni (For students across Pune)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1000</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;62</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;6)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;TechMahindra (For students across Pune)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;800</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;71</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;7)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;Infosys (For students across India)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1500</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;90</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;8)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;HP (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;3000</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;84</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;9)</td>
                  <td  valign="middle"  height="25" class="campustable2">  &nbsp; &nbsp;KPIT (For students across Pune)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1200</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;68</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;10)</td>
                  <td  valign="middle"  height="25" class="campustable2">  &nbsp; &nbsp;L &amp; T Infotech (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;2500</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;220</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1" > &nbsp; &nbsp;11)</td>
                  <td  valign="middle"  height="25" class="campustable2"> &nbsp; &nbsp;Cap Gemini (For students across Pune)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1200</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;75</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;12)</td>
                  <td  valign="middle"  height="25" class="campustable2">&nbsp; &nbsp;Amdocs (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1500</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;70</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;13)</td>
                  <td  valign="middle"  height="25" class="campustable2">&nbsp; &nbsp;Oracle (For students across Pune)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;2200</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;52</td>
                </tr>
                <tr>
                  <td  valign="middle"  height="25" class="campustable1"> &nbsp; &nbsp;14)</td>
                  <td  valign="middle"  height="25" class="campustable2">&nbsp; &nbsp;Quinnox (For students across Maharashtra)</td>
                  <td height="25" valign="middle" class="campustable3">&nbsp; &nbsp;1200</td>
                  <td height="25" valign="middle" class="campustable4">&nbsp; &nbsp;198*</td>
                </tr>

              </table>
</div>