<div class="container" style="margin-top:90px">
	<h1 class="page-header">Major Recruitors</h1>
	  <table class="table">
                <tr>
                  <td width="200" height="25" align="center" valign="middle" class="placementtable1"><b>Name of Company</b></td>
                  <td width="200" height="25" align="center" valign="middle" class="placementtable1"><b>Name of Company</b></td>
                  <td width="196" height="25" align="center" valign="middle" class="placementtable2"><b>Name of Company</b></td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Accenture</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Forbes Marshal</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mahindra &amp; Mahindra</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">A M Trident</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Fleetguard Filtrum</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mapyn</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">ADP</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Futurism Technologies</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mastek</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Afcon</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Godrej &amp; Boyce</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mather Platt</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Aftek</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Meagtech</td>
                  <td height="25" align="center" valign="middle" class="placementtable2"><span class="placementtable1">Kpit Cummins</span></td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Aker Kavner</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Green FootPrints</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mithi Software</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Aker Solutions</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Harbinger</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Motherson</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Aloha Technology</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Heitich</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Mphasis</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Amdocs</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Hexaware</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Neilsoft</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Aplab</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">HP</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Nerolac</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Arc-Tec</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Hpcl</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Nse It</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Baker Huges</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Hsbc</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Nvidia</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Bbim</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Huwaei</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Omnisceint Software Pvt. Ltd.</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Behr India Limited</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Hyundai</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Opus Software Solutions</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Bharti Airtel</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">IBM</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Pam pac</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Bijur Delimon</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Idea Cellular</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Pari Robotics</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Bitwise</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Iflex</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Patni</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Bluestar</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Iflex Solutions</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Persistent</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cadbury</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Indian Army</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Piaggio</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cap Gemini</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">India Bulls</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Premier Ltd.</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cat Computers</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Indian navy</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Prudential Process Managment</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cmc Ltd</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Indigo Architects</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Pune Instrumentation</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cognizant(CTS)</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Infosys</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Ravin Cables</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Crescent</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Ismt</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Reflexis</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cummins India Ltd</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Jayhind Industries</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Reliance</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Cybage</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Jbm Magnetto</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">S.M. Engineers Ltd.</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Daikin</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">John Deere</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Saama Technologies</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Deccan Water Treatment</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Jhs Taigene Ltd.</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Saint Gobain</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Decos Software</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Jotun</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sandvik Asia</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Dell</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Jump Game</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sany India Ltd</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Demag Cranes</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kalyani Infotech</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sapient</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Digit 5</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Khodiyar</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sharp India</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Disha (Aztecsoft)</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kirloskar</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Shriram Value Services</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">DSM</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kishor Engineers</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Siemens Infosystems</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Eaton</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kothari Infotech</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">SKF</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Eclyvypsis Ltd</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kpit Cummins</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Solaroy</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Electromech</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Krawler Networks</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sonic Wall</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Electropneumatics &amp; Hyd Ltd</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Kudale Instruments</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Sparkline</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Fasttrack</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">L&amp;T India</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Stay In Front</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Faurecia</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">L&amp;T Infotech</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Subex</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Sungard</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tech Mahindra</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Vaishnavi Information Technology</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Suzlon</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Techint Hpertherm</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Veda Engineering</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Swarovski</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Wipro Technologies</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Videocon</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Synergy India</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Texity</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Wavlet</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Syntel</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Thermax</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Whirpool</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Synygy</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Theta Control</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Winsor Machine Tools</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Systime</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Thirdware</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Winspire</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Taco Faurecia</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Thoughtworks</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Wipro Technologies</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tata Automation Ltd.</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Thyssen Krupp</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">XI Dynamics</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tata Elxsi</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tikona</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Yukata Auto</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tata Motors</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Truewall</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Zensar Technologies</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">Tata Viseton</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">T System</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">Zycus</td>
                </tr>
                <tr>
                  <td height="25" align="center" valign="middle" class="placementtable1">TCS</td>
                  <td height="25" align="center" valign="middle" class="placementtable1">Universal NeoTech Ltd</td>
                  <td height="25" align="center" valign="middle" class="placementtable2">&nbsp;</td>
                </tr>
				</table>

</div>