<div class="container" style="margin-top:90px;">
<h1 class="page-header">Team T &amp; P</h1>

<div class="col-md-6">
I am really proud of my team of Training & placement student co-coordinators as well as T&amp;P Staff Co-ordinators Mangesh Kalbhor & Nitin Kurhade, 
because of them only I could successfully conduct many Pool Campus Recruitment drives in Pimpri Chinchwad College of Engineering, Nigdi, Pune. 
Our volunteers are self motivated and career oriented with inner urge to help other students irrespective of their college.
<span class="pull-right">-Prof.ShitalKumar Rawandle</span>
</div>
<div class="col-md-6">
<img src="http://www.rawandale.com/images/Team-TnP.JPG" class="img-responsive"/>
</div>
</div>